# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env/

# Project specific
output/
video/*
!video/.gitkeep
*.log
concat.txt

# VS Code
.vscode/
*.code-workspace
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
